<%= form_for(:session, :html => {class: "px-6 py-5 rounded-lg border-2 border-gray-700", style:"background-color: rgba(15, 44, 35, 0.619);"}, url: login_path) do |f| %>
   <div class="text-center font-bold text-2xl uppercase text-gray-200">find rentals in kenya</div>
        <div class="flex my-6">
            <div class="mx-4 my-6">
                <div class="text-white font-medium py-4 capitalize text-center text-lg">username</div>
                <%= f.text_field :phone, placeholder: "enter username", class: "bg-gray-300 text-lg p-2 rounded-lg" %>
            </div>
            <div class="mx-4 my-6">
                <div class="text-white font-medium py-4 capitalize text-center text-lg">password</div>
                <%= f.password_field :password, placeholder: "enter password", class: "g-gray-300 text-lg p-2 rounded-lg" %>
            </div>
        </div>
        <%= f.submit "login", disable_with: "processing...", class: "p-2 bg-teal-700 text-white font-semibold text-center my-4 uppercase rounded-lg w-full" %>
        </div>
<% end %>

