<div class="lg:hidden">
    <%= render 'layouts/mobile_nav' %>
    <% if logged_in? && current_user.admin? %>
        <div class="text-3xl pt-4 capitalize font-semibold px-12 text-blue-700"><%= link_to 'click here for new booking', new_booking_path %></div>
    <% end %>      
    <div class=" bg-gray-100 px-24 py-8">
        <%= render 'booking', obj: @bookings %>
    </div>
</div>