<div class="lg:hidden">
<%= render 'layouts/top_nav' %>
  <div class="p-24">
    <% @users.each do |user| %>
      <div class="my-12">
        <div class="rounded-lg pb-10 bg-white shadow-b shadow-r shadow-3xl">
          <div class="text-5xl pt-4 uppercase font-seimbold px-12"><%= link_to user.username, user_path(user) %></div>
        </div>
      </div>
    <% end %>
  </div>
<%= render 'layouts/bottom_nav' %>
</div>