<div class="lg:hidden">
    <div class="flex top-0 bg-gray-900 py-3 text-7xl text-white">
        <div><i class="fa fa-home mx-12"></i></div>
        <div class="font-bold flex-grow hidden">|</div>
        <div class="text-6xl py-4 mx-12 text-right capitalize text-white font-bold">salama houses</div>
    </div>
    <form action="" class="bg-gray-300 text-4xl p-4">
        <div>
            <div class="capitalize font-bold text-6xl">add new property</div>
            <input type="text" placeholder="property name" class="m-4 p-2 rounded-lg">
            <div class="grid grid-cols-2 gap-4 my-4">
                <input type="text" placeholder="town" class="mx-4 p-2 rounded-lg">
                <input type="text" placeholder="estate" class="p-2 rounded-lg">
            </div>
            <input type="text" placeholder="price per month" class="m-4 p-2 rounded-lg">
            <div class="grid grid-cols-2 gap-4 my-4">
                <input type="number" placeholder="units" class="mx-4 p-2 rounded-lg">
                <input type="number" placeholder="bedrooms" class="p-2 rounded-lg">
            </div>
            <input type="text" placeholder="agent &amp; contacts" class="m-4 p-2 rounded-lg">
            <input type="file" name="" id="" class="m-4 p-2 rounded-lg">
        </div>
        <button class="bg-gray-900 text-white font-semibold p-4 my-4 capitalize rounded-lg">submit</button>
    </form>
</div>