<div class="lg:hidden">
    <div class="flex top-0 bg-gray-900 py-3 text-7xl text-white">
        <div><i class="fa fa-home mx-12"></i></div>
        <div class="font-bold flex-grow hidden">|</div>
        <div class="text-6xl py-4 mx-12 text-right capitalize text-white font-bold">salama houses</div>
    </div>
    <div class="bg-cover bg-bottom bg-no-repeat w-full h-78"
        style="background-blend-mode: multiply; background: rgba(28, 40, 43, 0.466); background-image: url('../assets/feature5.jpg');">
        <div class="py-12 text-center text-6xl font-bold text-white capitalize">here is our number,<br> we'll be waiting
            for your call</div>
        <div class="py-6 text-center text-white font-bold text-6xl">+254798767470</div>
    </div>
</div>