<div class="lg:hidden">
    <div class="flex top-0 bg-gray-900 py-3 text-7xl text-white">
        <div><i class="fa fa-home mx-12"></i></div>
        <div class="font-bold flex-grow hidden">|</div>
        <div class="text-6xl py-4 mx-12 text-right capitalize text-white font-bold">salama houses</div>
    </div>
    <form action="" class="bg-gray-300 text-4xl p-4">
        <div class="capitalize font-bold text-6xl">find a property in eldoret</div>
        <div class="capitalize font-bold text-5x text-teal-700">just a minute please!</div>
        <div class="text-4xl">you'll be required to pay ksh 200* as a service fee</div>
        <div class="text-4xl">an agent will contact you upon payment confirmation</div>
        <div class="text-4xl">be specific on what you want us to search</div>
        <br>
        <div class="capitalize">estate</div>
            <input type="text" placeholder="estate or location" class="my-6 p-2 rounded-lg">
        <div class="capitalize">number of bedrooms</div>
            <input type="number" placeholder="number of bedrooms" class="my-6 p-2 rounded-lg">
        <div class="capitalize">max rental price</div>
            <input type="text" placeholder="max rent price" class="my-6 p-2 rounded-lg"><br>
        <div class="capitalize">additional information</div>
            <input type="text" placeholder="please add any information that would be useful" class="my-6 p-2 rounded-lg w-full"><br>
        <div class="capitalize font-bold text-6xl">tell us more about you</div>
        <div class="capitalize">name</div>
            <input type="text" placeholder="whats your name" class="my-6 p-2 rounded-lg">
        <div class="capitalize">phone number</div>
            <input type="text" placeholder="your phone number" class="my-6 p-2 rounded-lg"><br>
        <button class="bg-gray-900 text-white font-semibold p-4 my-4 uppercase rounded-lg">send</button>
    </form>
</div>