<div class="lg:hidden">
    <div class="bg-cover bg-no-repeat w-full h-full"
        style="background-blend-mode: multiply; background: rgba(28, 40, 43, 0.438); background-image: url('../assets/feature9.jpg');">
        <div class="flex top-0 bg-gray-900 py-3 text-7xl text-white">
            <div><i class="fa fa-home mx-12"></i></div>
        </div>
        <div class="py-4 text-8xl mx-12 text-center uppercase text-white font-bold">welcome to <br> salama houses.</div>
        <div class="text-8xl mx-12 font-bold text-white text-center px-8 py-8 uppercase">we will find a home for you in eldoret.</div>
    </div>
</div>