<div class="lg:hidden">
    <div class="bg-cover bg-no-repeat w-full h-full"
        style="background-blend-mode: multiply; background: rgba(28, 40, 43, 0.438); background-image: url('../assets/feature9.jpg');">
        <div class="flex top-0 bg-gray-900 py-3 text-7xl text-white">
            <div><i class="fa fa-home mx-12"></i></div>
        </div>
        <div class="text-8xl mx-12 font-bold text-white text-center px-8 py-8 uppercase">welcome!<br>please choose one option:        
                <button class="bg-gray-200 text-teal-900 p-4 m-4 font-medium rounded-lg capitalize"><%= link_to 'view listings', rentals_path %></button><br>or let us <br> 
                <button class="bg-gray-200 p-4 m-4 text-teal-900 font-medium capitalize rounded-lg">find a home</button>for you in eldoret town.
        </div>
    </div>
<%= render 'layouts/bottom_nav' %>
</div>