<div class="lg:hidden">
    <div class="bg-cover bg-no-repeat w-full h-screen"
        style="background-image: url('../assets/login-bg.png');">
        <div class="text-8xl font-bold text-white text-center px-8 py-4 leading-loose tracking-wider uppercase mx-32 rounded-lg" style="background-blend-mode: multiply; background: rgba(19, 52, 95, 0.288); ">let us <br> 
                <button class="bg-gray-200 p-2 m-2 text-teal-900 font-medium capitalize rounded-lg">find a home</button>for you in eldoret town.
        </div>
    </div>
<%= render 'layouts/bottom_nav' %>
</div>