<button class="text-5xl font-bold px-6 py-3 m-3">new listing</button>
<table class="text-4xl">
    <tr class="font-bold capitalize">
        <td class="px-3">name</td>
        <td class="px-3">estate</td>
        <td class="px-3">price</td>
        <td class="px-3">units</td>
        <td class="px-3">rooms</td>
        <td class="">landlord name</td>
        <td class="">landlord num</td>
        <td class="">actions</td>
    </tr>
    <tr>
        <td class="px-3">eden palace</td>
        <td class="px-3">hawaii</td>
        <td class="px-3">25000</td>
        <td class="px-3">20</td>
        <td class="px-3">2</td>
        <td class="">landlord name</td>
        <td class="">landlord num</td>
        <td class="">edit</td>
        <td class="">delete</td>
    </tr>
    <tr>
        <td class="px-3">eden palace</td>
        <td class="px-3">hawaii</td>
        <td class="px-3">25000</td>
        <td class="px-3">100</td>
        <td class="px-3">3</td>
        <td class="">landlord name</td>
        <td class="">landlord num</td>
        <td class="">edit</td>
        <td class="">delete</td>
    </tr>
    <tr>
        <td class="px-3">eden palace</td>
        <td class="px-3">hawaii</td>
        <td class="px-3">25000</td>
        <td class="px-3">25</td>
        <td class="px-3">1</td>
        <td class="">landlord name</td>
        <td class="">landlord num</td>
        <td class="">edit</td>
        <td class="">delete</td>
    </tr>
    <tr>
        <td class="px-3">eden palace</td>
        <td class="px-3">hawaii</td>
        <td class="px-3">25000</td>
        <td class="px-3">10</td>
        <td class="px-3">2</td>
        <td class="">landlord name</td>
        <td class="">landlord num</td>
        <td class="">edit</td>
        <td class="">delete</td>
    </tr>
    <tr>
        <td class="px-3">eden palace</td>
        <td class="px-3">hawaii</td>
        <td class="px-3">25000</td>
        <td class="px-3">20</td>
        <td class="px-3">2</td>
        <td class="">landlord name</td>
        <td class="">landlord num</td>
        <td class="">edit</td>
        <td class="">delete</td>
    </tr>
    <tr>
        <td class="px-3">eden palace</td>
        <td class="px-3">hawaii</td>
        <td class="px-3">25000</td>
        <td class="px-3">12</td>
        <td class="px-3">3</td>
        <td class="">landlord name</td>
        <td class="">landlord num</td>
        <td class="">edit</td>
        <td class="">delete</td>
    </tr>
</table>
