<div class="lg:hidden">
    <div class="flex top-0 bg-gray-900 py-3 text-7xl text-white">
        <div><i class="fa fa-home mx-12"></i></div>
        <div class="font-bold flex-grow hidden">|</div>
        <div class="py-4 text-6xl mx-12 text-right capitalize text-white font-bold">salama houses</div>
    </div>
    <div class="bg-cover bg-center bg-no-repeat w-full h-74"
        style="background-blend-mode: multiply; background: rgba(28, 40, 43, 0.185); background-image: url('../assets/slide-1.jpg');">
    </div>
    <div class="font-bold text-7xl capitalize mx-4">eden palace</div>
    <div class="p-6 capitalize text-5xl mx-6">
        <div class="my-4">eldoret, kipkorgot estate</div>
        <div class="my-4">kshs 20,000 per month</div>
        <div class="my-4">55 units</div>
        <div class="my-4">2 bedrooms</div>
        <div class="my-4">
            <div>request visit or book</div>
            <div>+254798767470</div>
        </div>
    </div>
</div>