  <% obj.each do |estate| %>
    <div class="my-12">
    <%= link_to estate_path(estate), :action => 'show' do %>
    <div class="rounded-lg pb-10 bg-teal-700 shadow-b shadow-r shadow-3xl">
        <div class="text-5xl text-white pt-4 uppercase font-seimbold px-12"><%= estate.name %></div>
        <small class="text-3xl text-white pt-4 uppercase font-seimbold px-12"><%= estate.town.name %></small>
      </div>
    <% end %>
    </div>
  <% end %>