     <nav class="flex bg-green-800 text-white px-24 capitalize w-full py-5 text-lg font-medium items-center">
        </nav>
        <div class="grid grid-cols-3 py-12 bg-gray-900 text-gray-500 px-24">
            <div class="capitalize">
                <div class="uppercase font-medium my-4">towns</div>
                    <%= render 'towns/towns_nav'%>
            </div>
            <div class="capitalize">
                <div class="uppercase font-medium my-4">estates</div>
                   <%= render 'estates/estates_nav' %>
            </div>
            <div class="capitalize">
                <div class="uppercase font-medium my-4">blink patners</div>
                <div>username investments</div>
                <div>shunami properties</div>
                <div>username rentals</div>
            </div>
        </div>
        <nav class="flex bg-white px-24 capitalize w-full py-2 text-md font-medium items-center justify-center">
            <div class="mx-12">blinkhomes</div>
            <div class=""><i class="fa fa-phone-alt mx-2"></i>+254798767470</div>
            <div class="mx-12"><i class="fa fa-home mx-2"></i>eldoret</div>
            <div class="mx-12">@blinkhomes <i class="far fa-copyright text-sm"></i><%= Time.zone.now.year %></div>
            <div class="mx-12">follow us on:
            <%= link_to 'https://www.facebook.com/Blink-services-109245424206128/', class: "" do %>
                <i class="fab fa-facebook-square text-blue-600 mx-2"></i>
            <% end %>
        </nav>