  <div class="flex top-0 bg-gray-900 py-4 text-7xl text-white w-full">
    <%= link_to '/', class: "mx-12" do %>
      <i class="fa fa-home"></i>
    <% end %>
    <div class="text-6xl py-4 text-right capitalize text-white font-bold">salama houses <%= "admin" if logged_in? && current_user.admin? %></div>
  </div>